body{
    height: 100dvb;
    margin: 0;
    background: linear-gradient(to bottom right, #1b0d03, #D2B48C); /* Café oscuro a café claro */
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, li {
    color: azure;
}

li{
    border: solid 1px black;
    box-sizing: border-box;
    padding: 5px 100px;
}

li{
    border-bottom: 0;
}

ul{
    list-style: none;
    text-align: center;
}

button{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px white;
}